footer {
  margin-top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 600ms;
  opacity: 1;

  &.hidden {
    transition: opacity 0ms;
    opacity: 0;
  }

}

.social-links {
  display: flex;
  justify-content: center;

  a {

    img {
      height: 3rem;
      width: 3rem;
    }

    &:not(:first-of-type) {
      padding-left: 1rem;
    }

  }
}

.copyright {
  text-align: center;
  color: hsla(0, 0%, 100%);
  font-size: .8rem;
  padding: .3rem 0;
  opacity: 0.3;
}

.video-credit {
  text-align: center;
  font-size: .75rem;
  padding: .3rem 0;
  opacity: 0.3;
}
