  <main class="resume printable" [attr.data-theme]="config.theme">

    @if (details$ | async; as details) {
      <section class="content">

        @if (config.showHeader) {
          <section class="profile simple" [ngClass]="{ 'banner': config.showBanner }">

            @if (config.showBannerDecor) {
              <img class="bannerDecor" src="assets/stripesAlt.svg" alt="">
            }

            <div class="name">{{getDetail(details, "firstName", "content")}} {{getDetail(details, "lastName", "content")}}</div>
            <div class="subline">Software Engineer ({{getDetail(details, "pronouns", "content")}})</div>
          </section>
        }

        @if (config.showContacts) {
          <section class="cv-contact-section simple">
            @if (config.showEmail) {
              <div class="cv-contact-item">
                <div class="simple label" >Email: </div>
                <a href="{{getDetail(details, 'email', 'link') }}">{{ getDetail(details, 'email', 'content') }}</a>
              </div>
            }

            @if (config.showPhone) {
              <div class="cv-contact-item">
                <div class="simple label" >Phone: </div>
                <a href="{{ getDetail(details, 'phone', 'link') }}">{{ config.showEvilPhone ? '(360) 499-EVIL' : getDetail(details, 'phone', 'content') }}</a>
              </div>
            }

            @if (config.ShowWebsite) {
              <div class="cv-contact-item">
                <div class="simple label" >Website: </div>
                <a href="{{ getDetail(details, 'website', 'link') }}">{{ getDetail(details, 'website', 'content') }}</a>
              </div>
            }

            @if (config.showLinkedIn) {
              <div class="cv-contact-item">
                <div class="simple label" >LinkedIn: </div>
                <a href="{{ getDetail(details, 'linkedin', 'link') }}">{{ getDetail(details, 'linkedin', 'content') }}</a>
              </div>
            }
          </section>
        }

        @if (content$ | async; as content) {
          @if (config.showIntro){
            <section class="cv-object cv-intro">
              <markdown class="cv-content"  [innerHTML]="getContentBody(content, 'cvIntro')"></markdown>
            </section>
          }
        }

        @if (config.showSkills){
          <app-cv-skill-block/>
        }

        @if (config.showObjective){
          <div class="section-wrapper">
            <div class="subsection">
              <div class="textBanner">
                Objective
                <div class="pusher"></div>
                <button mat-button color="primary">Edit</button>
              </div>
              <div class="info-block">
                <div class="entry">
                  <!--TODO: Add Objective Block-->
                </div>
              </div>
            </div>
          </div>
        }

        @if (true){
          <cv-projects></cv-projects>
        }

        @if (config.showEducation){
          <div class="section-wrapper">
            <div class="subsection">
              <div class="textBanner">Education</div>

              @for (institute of education; track institute){
                  <div class="cv-education-entry cv-object">
                    <div class="cv-title-row">
                      <div class="cv-entry-name">{{ institute.name }}</div>
                      <span class="divider"> | </span>
                      <span class="cv-title-text">{{ institute.degree | titlecase }}</span>
                      <span class="divider"> | </span>
                      <span class="cv-title-text">{{ institute.major | titlecase }}</span>
                      <span class="divider"> | </span>
                      <div class="cv-title-text">{{ institute.end | date : 'MMM yyyy'  }}</div>
                    </div>
                    <markdown class="cv-content" [innerHTML]="institute.notes"></markdown>
                  </div>
              }

            </div>
          </div>
        }

        @if (config.showCerts){

        }

        @if (config.showAwards){

        }

      </section>
    }
  </main>
