<article class="project-card">
  <div class="image">
    <img ngSrc="assets/projects/{{project.photo}}.png"
         width="320"
         height="180"
         loading="lazy"
         decoding="async"
     alt="Logo or photo of the project in question. Very fancy. Worth much moneies">
  </div>

  <div class="title-line">
    <div class="title">{{ project.name }}</div>
    <div class="date">{{ project.endDate | date:"MMM YYYY"}}</div>
  </div>

  <div class="content" [innerHTML]="project.shortDescription"></div>

  <div class="action-line">
    @if (project.hasLink) {
      <a mat-raised-button target="_blank" href="{{project.url}}">Visit</a>
    }
    @if (project.hasDetails) {
      <button mat-raised-button color="primary" routerLink="/project/{{project.slug}}">Details</button>
    }
  </div>

</article>


