<div class="page">

  <main class="flex column gap-small">
    @if (details$ | async; as details) {

      <article class="biography">
        <header class="biography-header">
          <div class="primary text-gradient bio-name">
            {{ getDetail(details, "firstName", "content") }}
            {{ getDetail(details, "lastName", "content") }}
          </div>
          <div class="bio-pronouns">
              ({{getDetail(details, "pronouns", "content")}})
          </div>
        </header>

        <section class="biography-body">
          @if (content$ | async; as content) {
            <markdown [data]="getContentBody(content, 'bioMain')" markdown></markdown>
          }
        </section>

      </article>
    }

    <div class="flex gap-small center selectable-button-row">
      @for (section of sections; track section.id) {
        <button mat-flat-button class="selectable-button" [ngClass]="{'selected' : section.id === selection}" (click)="makeSelection(section.id)">{{ section.title }}</button>
      }
    </div>

    @switch (selection) {
      @case ('books') { <app-bio-books/> }
      @case ('drinks') { <app-bio-drinks/> }
      @case ('engineer') { <app-bio-engineer/> }
      @case ('fashion') { <app-bio-fashion/> }
      @case ('food') { <app-bio-food/> }
      @case ('games') { <app-bio-games/> }
      @case ('music') { <app-bio-music/> }
      @default {
        <div class="no-matches">
          Click a Button!
        </div>
      }
    }
  </main>
</div>
