:host {
  display: inline-flex;
  background: var(--body);
  border: 2px solid var(--body-lowlight);
  border-radius: 6px;
  padding: 0.6rem 0.6rem 0.8rem 0.6rem;
  transition: padding 0.5s;

  @media only screen and (max-width: 768px)  {
    padding: 0.8rem 1rem 1rem 1rem;
  }

  font-family: var(--headerFont), serif;
  font-variant: petite-caps;
  font-size: 1rem;
  line-height: 0;
  font-weight: normal;

  // Project Types
  &.game {
    color: hsl(160, 100%, 75%);
    background: hsl(160, 100%, 10%);
    border-color: hsl(160, 100%, 20%);
  }

  &.web {
    color: hsl(200, 100%, 75%);
    background: hsl(200, 100%, 10%);
    border-color: hsl(200, 100%, 20%);
  }

  &.mobile {
    color: hsl(240, 100%, 75%);
    background: hsl(240, 100%, 10%);
    border-color: hsl(240, 100%, 20%);
  }

  &.desktop {
    color: hsl(280, 100%, 75%);
    background: hsl(280, 100%, 10%);
    border-color: hsl(280, 100%, 20%);
  }

  &.multi {
    color: hsl(320, 100%, 75%);
    background: hsl(320, 100%, 10%);
    border-color: hsl(320, 100%, 20%);
  }

  // Blog Article Types
  &.announcement {
    color: hsl(0, 100%, 75%);
    background: hsl(0, 100%, 10%);
    border-color: hsl(0, 100%, 20%);
  }

  &.news {
    color: hsl(80, 75%, 50%);
    background: hsl(80, 100%, 10%);
    border-color: hsl(80, 100%, 20%);
  }

  &.tutorial {
    color: hsl(180, 75%, 50%);
    background: hsl(180, 100%, 10%);
    border-color: hsl(180, 100%, 20%);
  }

  &.blog {
    color: hsl(206, 26%, 84%);
    background: hsl(200, 10%, 30%);
    border-color: hsl(201, 10%, 60%);
  }

  &.review {
    color: hsl(220, 100%, 50%);
    background: hsl(220, 100%, 10%);
    border-color: hsl(220, 50%, 50%);
  }

  &.skill {
    background-color: var(--tag);
    border-color: var(--tag-border);
    cursor: pointer;

    &:hover {
      background-color: var(--tag-hover);
      border-color: var(--tag-border-hover);
    }

    &.featured {
      background-color: var(--tag-highlight);
      border-color: var(--tag-highlight-border);

      &:hover {
        background-color: var(--tag-highlight-hover);
        border-color: var(--tag-highlight-border-hover);
      }
    }
  }

}
