
<div class="page">

  <div class="flex-row bottom-padded">
    <button mat-stroked-button uiGoBack>Back</button>
    <div class="fill"></div>
    @if (project?.showLink) {
      <a mat-stroked-button color="warn" [href]="project?.link" target="_blank">Visit</a>
    }
  </div>

  @if (project){
    <article class="project card">
      <header class="project-header {{project.group}}">
        <h1 class="title pusher">{{project.name}}</h1>
        <div class="date">
          @if(project.isCurrent) {
            Current
          } @else {
            {{project.started | date: 'MMM yyyy'}}
            @if (project.started && project.ended) {
              <span> - </span>
            }
            {{project.ended | date: 'MMM yyyy'}}
          }
        </div>
      </header>

      <section class="project-body">
        <markdown [data]="project.longDescription"></markdown>

        <h4>Skills & Technology</h4>
        <div class="cutout">
          @if(skills$ | async; as skills){
            <div class="tag-container" [@FadeInList]="skills.length">
              @for (skill of skills; track skill.id) {
                <ui-tag type="skill" [text]="skill.name" (click)="viewSkill(skill.id)"></ui-tag>
              }
            </div>
          }
        </div>
      </section>

      <footer class="project-footer">
        <div class="meta-row">
          <div class="meta-item">
            <div class="meta-label">Posted: </div>
            <div class="meta-data">{{ project.xata.createdAt | date : "dd.MM.yyy"}}</div>
          </div>
          <div class="meta-item">
            <div class="meta-label">Updated: </div>
            <div class="meta-data">{{ project.xata.updatedAt | date : "dd.MM.yyy"}}</div>
          </div>
        </div>
      </footer>

    </article>

  } @else {
    <div class="segment">
      <h1>Whoops</h1>
      <p>There does not seem to be a project by this name or url</p>
    </div>
  }

</div>
