
<div class="page">

  <div class="flex-row bottom-padded">
    <button mat-stroked-button uiGoBack>Back</button>
    <div class="fill"></div>
    @if (project?.showLink) {
      <a mat-stroked-button color="warn" [href]="project?.link" target="_blank">Visit</a>
    }
  </div>

  @if (project){
    <article class="segment project-segment">
      <header class="{{project.group}}">
        <h1 class="title pusher">{{project.name}}</h1>

        <div class="date">

          @if(project.isCurrent) {
            Current
          } @else {
            {{project.started | date: 'MMM yyyy'}}
            @if (project.started && project.ended) {
              <span> - </span>
            }
            {{project.ended | date: 'MMM yyyy'}}
          }

        </div>
      </header>

      <div class="content">
        <div [innerHTML]="project.longDescription" markdown></div>

        <h4>Skills & Technology</h4>
        <div class="cutout">
          @if(skills$ | async; as skills){
            <div class="tag-container" [@FadeInList]="skills.length">
              @for (skill of skills; track skill.id) {
                <div class="skill tag" (click)="viewSkill(skill.id)">{{skill.name}}</div>
              }
            </div>
          }

        </div>
      </div>

    </article>

  } @else {
    <div class="segment">
      <h1>Whoops</h1>
      <p>There does not seem to be a project by this name or url</p>
    </div>
  }

</div>
