<div class="section-wrapper">
  <div class="subsection">

    <div class="textBanner">Projects
      <div class="fill"></div>
      <button mat-button color="primary" (click)="editProjectList()">Edit</button>
    </div>

    <div class="info-block" cdkDropList (cdkDropListDropped)="projectDrop($event)">
      @for (project of displayedProjects; track project.id){
        <div class="cv-project" cdkDrag cdkDragPreviewContainer="parent">
          <div class="cv-project-title-row draggable" cdkDragHandle>

            <div class="cv-project-name">{{project.name}}</div>

            <div class="cv-project-title">{{project.role}}</div>

            <div class="cv-project-dates">
              @if (diffYear(project.started, project.ended)) {
                {{project.started | date:"MMM. yyyy" }}
              } @else {
                {{project.ended | date:"MMM." }}
              }
              @if(project.started && project.ended){
                <span class="dateDivider"> - </span>
              }
              {{project.ended | date:"MMM. yyyy" }}
            </div>
          </div>

          <markdown class="cv-project-content" [innerHTML]="project.cvDescription"></markdown>

        </div>
      }
    </div>

  </div>
</div>
