<div class="page container">

  <div class="blog-nav">
    <div class="blog-title">
      Developer's Blog
    </div>
    <div class="fill"></div>
    <ui-search (searchSubmitted)="searchBlog($event)"></ui-search>
    <button mat-icon-button aria-label="" (click)="hideSidebar = !hideSidebar">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <section class="article-list">

      @for (article of articlePage().records; track article.id) {
        <div class="anim-wrapper" data-aos="zoom-in-up">
          <ui-article [isStub]="true" [data]="article" [displayStyle]="ArticleDisplayStyle.Card"></ui-article>
        </div>
      } @empty {
        <div class="callout" data-aos="fade-in" data-aos-delay="500">
          <div class="admonition admonition-info">
            <div class="admonition-title">Info</div>
            <div class="admonition-content">No Articles match these specific filters</div>
          </div>
        </div>
      }

  </section>

  <aside class="sidebar" [ngClass]="{'sidebar-hidden': hideSidebar}">
    <div class="sidebar-segment">
      <div class="sidebar-segment-heading">Filter</div>
      <div class="content">
        <mat-chip-listbox class="mat-mdc-chip-set-stacked " multiple>
          @for (option of categoryOptions; track option.id){
            <mat-chip-option
              id="{{option.id}}"
              (click)="selectCategories(option.id)"
              [selected]="selectedCategories.has(option.id)"
            >{{option.label}}
            </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>

    </div>
  </aside>

  <div class="pager bottom-nav" data-aos="fade-up">
    <div class="pager-item" (click)="goToPreviousPage()" [ngClass]="{'disabled': isFirstPage()}">Back</div>
    <div class="pager-item" (click)="goToNextPage()" [ngClass]="{'disabled': isLastPage()}">Next</div>
  </div>

</div>
