<div class="page container">

  <div class="blog-nav">
    <div class="blog-title">
      Developer's Blog
    </div>
    <div class="fill"></div>
    <button mat-icon-button aria-label="" (click)="hideSidebar = !hideSidebar">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <section class="article-list">
    @if (articles$ | async; as articles) {
      @for (article of articles.records; track article.id) {
        <ui-article [isStub]="true" [data]="article" [displayStyle]="ArticleDisplayStyle.Card"></ui-article>
      } @empty {
        <div class="callout">
          <div class="admonition admonition-info">
            <div class="admonition-title">Info</div>
            <div class="admonition-content">No Articles match these specific filters</div>
          </div>
        </div>
      }
    }
  </section>


  <aside class="sidebar" [ngClass]="{'sidebar-hidden': hideSidebar}">
    <div class="sidebar-segment">
      <div class="sidebar-segment-heading">Filter</div>
      <div class="content">
        <mat-chip-listbox class="mat-mdc-chip-set-stacked " multiple>
          @for (option of categoryOptions; track option.id){
            <mat-chip-option
              id="{{option.id}}"
              (click)="selectCategories(option.id)"
              [selected]="selectedCategories.has(option.id)"
            >{{option.label}}
            </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>

    </div>
  </aside>


  <div class="pager bottom-nav">
    <div class="pager-item" (click)="lastPage()" [ngClass]="{'disabled': isFirstPage}">Back</div>
    <div class="pager-item" (click)="nextPage()" [ngClass]="{'disabled': isLastPage}">Next</div>
  </div>

</div>
