<div class="page container">

  <div class="top-nav">

  </div>

  <section class="content article-list">
    @if (articles$ | async; as articles) {
      @for (article of articles.records; track article.id) {
        <ui-article [isStub]="true" [data]="article" [displayStyle]="ArticleDisplayStyle.Card"></ui-article>
      } @empty {
        <div class="callout">
          <div class="admonition admonition-info">
            <div class="admonition-title">Info</div>
            <div class="admonition-content">No Articles match these specific filters</div>
          </div>
        </div>
      }
    }
  </section>

  <aside class="sidebar">
    <div class="sidebar-segment">
      <div class="sidebar-segment-heading">Filter</div>
      <div class="content">
        <mat-chip-listbox #categoryList class="mat-mdc-chip-set-stacked " multiple>
          @for (option of categoryOptions; track option.id){
            <mat-chip-option
              id="{{option.id}}"
              (selectionChange)="selectCategories(option.id)"
            >{{option.label}}
            </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>

    </div>
  </aside>

  <div class="pager bottom-nav">
    <div class="pager-item" (click)="lastPage()" [ngClass]="{'disabled': isFirstPage}">Back</div>
    <div class="pager-item" (click)="nextPage()" [ngClass]="{'disabled': isLastPage}">Next</div>
  </div>

</div>
