<div class="feature-segment">
  <div class="feature-title" [ngClass]="{'right': isAlternate}">
    <h1 [class]="color" >{{ header }}</h1>
  </div>

  <div class="row">

    @if (isAlternate) {
      <div class="image cell">
        <img [ngSrc]="image" alt="" [width]="360" [height]="180" priority>
      </div>
    }

    <div class="cell" [ngClass]="{'right': isAlternate}">
      <div class="content">
        <ng-content></ng-content>
      </div>

      @if(route) {
        <div class="featured-button {{color}}" [routerLink]="route">
          More
        </div>
      }


    </div>


    @if (!isAlternate) {
      <div class="image cell">
        <img [ngSrc]="image" alt="" [width]="360" [height]="180" priority>
      </div>
    }



  </div>
</div>
