:host * {
  transition: font-size 1000ms;
}

.feature-title {
  max-width: fit-content;

  &.alt {
    margin-left: auto;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 1rem 1rem;
  grid-template-areas:
    "content content image"
    "stack stack image";

  &.alt {
    grid-template-areas:
    "image content content"
    "image stack stack";
  }
}

.image {
  grid-area: image;
  position: relative;
  min-width: 360px;
  min-height: 180px;
  margin: 0 auto;
}

.content {
  grid-area: content;
  font-size: 1.2rem;

  &.alt {
    text-align: right;
  }
}

.stack {
  grid-area: stack;
  display: flex;
  margin-top: 1rem;
  gap: .5rem;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;

  img {
    width: 48px;
    height: 48px;
  }
}

.feature-segment {
  margin: auto;
  padding: 20px;
  max-width: 1000px;
  flex-direction: column;

}

.featured-button {
  font-family: var(--uiFont);
  font-size: 1.25rem;
  border: 3px solid;
  width: fit-content;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: all 200ms;
  font-weight: 800;

  &.right {
    margin-left: auto;
  }

  &.red {
    color: var(--hot-red);
    border-color: var(--hot-red);

    &:hover {
      color: var(--vivid-pink);
      border-color: var(--vivid-pink);
    }
  }

  &.blue {
    color: var(--electric-violet);
    border-color: var(--electric-violet);

    &:hover {
      color: var(--corbin-blue);
      border-color: var(--corbin-blue);
    }
  }

  &.pink {
    color: var(--corbin-blue);
    border-color: var(--corbin-blue);

    &:hover {
      color: var(--vivid-pink);
      border-color: var(--vivid-pink);
    }
  }
}




@media only screen and (max-width: 820px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, min-content);

    grid-template-areas:
      "content content image"
      "content content image"
      "stack stack stack";

    &.alt {
      grid-template-areas:
        "image content content"
        "image content content"
        "stack stack stack";
    }
  }
}

@media only screen and (max-width: 700px)  {

  .feature-title.alt {
    margin-left: 0;
  }


  .grid-container, .grid-container.alt {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);

    grid-template-areas:
      "content "
      "image"
      "stack ";
  }


  .content, .content.alt {
    text-align: left;
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    max-width: fit-content;
  }
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 1.8rem;
    max-width: fit-content;
  }

  .image {
    min-width: 288px;
    min-height: 144px;
  }
}
