.article-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

article.blog {
  header.blog-header {
    .title {
      font-size: 2.5rem;
    }
  }

  section.blog-meta {
    display: flex;
    align-items: center;
    margin: 6px 0;
  }

  .blog-category {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .blog-label {
    margin-right: .5rem;
  }

  section.blog-body {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  footer.blog-footer {
    display: flex;
    gap: 1rem;
  }
}

article.card {
  --card-border-radius: 12px;

  background: var(--body);

  border-radius: var(--card-border-radius);

  header {
    background: var(--body-highlight);
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;

    .title {
      padding: 0 6px;
    }
  }

  section[class*="-meta"] {
    margin: 0;
    padding: 12px 12px 0 12px;
  }

  section[class*="-body"] {
    padding: 0 12px;
  }

  footer {
    background: var(--body-lowlight);
    padding: 6px;
    border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
  }
}
