.article-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

article .meta-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .meta-item {
    display: flex;
    gap: .3rem;

    .meta-label {
      font-family: var(--headerFont), sans-serif;
      color: var(--secondary)
    }

    .meta-data {
      color: var(--bodyColor);
      opacity: .5;
    }

  }
}

article.blog {
  header.blog-header {

  }

  section.blog-meta {
    display: flex;
    align-items: center;
    margin: 6px 0;
  }

  .blog-category {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .blog-label {
    margin-right: .5rem;
  }

  section.blog-body {

  }

  footer.blog-footer {
    display: flex;
    gap: 1rem;
  }
}

article.project {

  header.project-header {
    display: flex;
    align-items: center;
    padding: .33rem .5rem;
    gap: .5rem;

    &.personal {
      background: var(--personal-gradient);
    }

    &.professional {
      background: var(--professional-gradient);
    }

    &.openSource {
      background: var(--openSource-gradient);
    }

    &.educational {
      background: var(--educational-gradient);
    }

    .group {
      font-family: var(--uiFont), serif;
      opacity: 0.33;
      @media screen and (max-width: 640px) {
        display: none;
      }

    }
  }

  section.project-body {
    padding-top: 6px;
    padding-bottom: 6px;
  }

}

article.skills {
  header.skills-header {
    flex-wrap: wrap;
    align-items: center;
    padding: 12px 12px 0 12px;
    gap: 0;
  }

  section.skills-body {
    padding: 12px;
  }
}
