@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Fira+Sans&family=Fira+Sans+Condensed&family=Iceberg&family=Parisienne&display=swap');

.page-container {
  margin: 1em auto;
  max-width: 1000px;
}

.resume {
  font-size: 12pt;

  background: var(--cv_color_body);
  color: var(--cv_color_text);
  max-height: 11in;
  min-height: 11in;
  max-width: 8.5in;
  min-width: 8.5in;
  padding: 0;
  overflow: hidden;

  --cv_font_body: 'Fira Sans', sans-serif;
  --cv_bodyFontCond: 'Fira Sans Condensed', sans-serif;
  --cv_font_header: 'Fira Code', monospace;
  --cv_font_ui: 'Fira Sans Condensed', sans-serif;
  --cv_font_hero: 'Iceberg', cursive;

  --progressBackground: hsl(0, 0%, 5%);
  --progressBackground2: hsl(0, 0%, 15%);
  --progressBorderColor: hsl(0, 0%, 20%);

  * {
    transition: all 200ms, font-size 0ms;
  }
}

.resume p {
  font-family: var(--cv_font_body), sans-serif;
  color: var(--cv_color_text);
}

.resume[data-theme="dark"] {
  --cv_color_text: hsl(210, 100%, 95%);
  --cv_color_link: hsl(0, 0%, 100%);
  --cv_color_primary: hsl(210, 70%, 80%);
  --cv_color_accent: hsl(255, 50%, 50%);
  --cv_color_highlight: hsl(210, 50%, 50%);
  --cv_color_strong: hsl(210, 50%, 75%);
  --cv_color_profile: hsl(210, 20%, 20%);
  --cv_color_onProfile: hsl(210, 100%, 95%);
  --cv_color_photoFrame: hsl(210, 20%, 20%);

  --cv_shading_low: rgba(0, 0, 0, 0.20);
  --cv_shading_high: rgba(255, 255, 255, 0.20);

  --progressLeft: #0058ff;
  --progressRight: #00c4ff;
  --progressGlow: hsla(210, 100%, 50%, 33%);

  --cv_color_body: #292933;
  --cv_color_sidebar: #252525;
}

.resume[data-theme="discord"] {
  --cv_color_text: #f1f8ff;
  --cv_color_link: #ffffff;
  --cv_color_primary: hsl(235, 50%, 80%);
  --cv_color_accent: hsl(235, 86%, 65%);
  --cv_color_profile: hsl(235, 83%, 59%);
  --cv_color_onProfile: #f1f8ff;
  --cv_color_photoFrame: hsl(235, 86%, 65%);
  --cv_color_body: #37393f;
  --cv_color_sidebar: #2f3136;

  --cv_shading_low: rgba(0, 0, 0, 0.20);
  --cv_shading_high: rgba(255, 255, 255, 0.20);

  --progressLeft: hsl(235, 46%, 75%);
  --progressRight: hsl(235, 86%, 65%);
  --progressGlow: hsla(235, 100%, 50%, 0.8);

  --cv_font_header: "gg sans semibold", 'Fira Code', monospace;
}

.resume[data-theme="bland"] {
  --cv_font_body: 'Fira Sans', sans-serif;
  --cv_bodyFontCond: 'Fira Sans Condensed', sans-serif;
  --cv_font_header: 'Fira Sans', sans-serif;
  --cv_font_ui: 'Fira Sans Condensed', sans-serif;
  --cv_font_hero: 'Fira Sans Condensed', sans-serif;

  --cv_color_text: #000000;
  --cv_color_link: hsl(200, 10%, 10%);
  --cv_color_primary: #000000;
  --cv_color_accent: #8f9ccc;
  --cv_color_highlight: var(--corbin-blue);

  --cv_shading_low: rgba(0, 0, 0, 0.1);
  --cv_shading_high: rgba(0, 0, 0, 0.2);

  --progressLeft: #6a3d8f;
  --progressRight: #274b70;
  --progressGlow: hsla(228, 45%, 34%, 0.51);
  --progressBackground: hsl(0, 0%, 100%);
  --progressBackground2: hsl(0, 0%, 80%);
  --progressBorderColor: hsl(0, 0%, 90%);

  --cv_color_profile: hsl(203, 100%, 50%);
  --cv_color_onProfile: hsl(0, 0%, 100%);

  --cv_color_photoFrame: hsl(0, 0%, 100%);
  --cv_color_body: hsl(0, 0%, 100%);
  --cv_color_sidebar:hsl(0, 0%, 100%);
}

.resume[data-theme="winter"] {
  --cv_color_text: hsl(200, 30%, 30%);
  --cv_color_link: hsl(180, 40%, 20%);
  --cv_color_primary: hsl(200, 75%, 40%);
  --cv_color_accent: hsl(200, 50%, 80%);

  --cv_shading_low: rgba(0, 0, 0, 0.20);
  --cv_shading_high: rgba(0, 0, 0, 0.10);

  --progressLeft: hsl(180, 100%, 20%);
  --progressRight: hsl(190, 100%, 95%);
  --progressBackground: hsla(0, 0%, 100%, 0.25);
  --progressBackground2: hsla(0, 0%, 100%, 0.85);
  --progressBorderColor: hsl(0, 0%, 90%);
  --progressGlow: hsla(180, 100%, 80%, 0.7);

  --cv_color_body:    hsl(220, 100%, 95%);
  --cv_color_profile: hsl(220, 80%, 90%);
  --cv_color_onProfile: hsl(200, 30%, 30%);

  --cv_color_photoFrame: hsl(180, 40%, 80%);
  --cv_color_sidebar: hsl(220, 40%, 90%);
}

.resume[data-theme="terminal"] {
  --cv_color_text: hsl(130, 100%, 50%);
  --cv_color_link: hsl(130, 100%, 80%);
  --cv_color_primary: hsl(130, 100%, 40%);
  --cv_color_accent: hsl(130, 100%, 25%);

  --cv_shading_low: hsl(130, 100%, 0%);
  --cv_shading_high: hsl(130, 100%, 20%);

  --cv_color_body: hsl(0, 0%, 0%);
  --cv_color_profile: hsl(130, 100%, 10%);
  --cv_color_onProfile: hsl(130, 100%, 50%);
  --cv_color_photoFrame: hsl(130, 100%, 20%);
  --cv_color_sidebar: hsl(130, 100%, 0%);

  --cv_font_body: "Fira Code";
  --cv_font_header: "Fira Code Medium";
  --cv_font_ui: "Fira Code";

  --progressLeft: hsl(130, 100%, 20%);
  --progressRight: hsl(130, 100%, 50%);
  --progressBackground: hsl(0, 0%, 0%);
  --progressBorderColor: hsl(0, 0%, 0%);
  --progressGlow: hsla(111, 100%, 50%, 0.5);

  font-size: 8.5pt;
}

span.divider {
  color: var(--cv_shading_high);

  &.wide {
    margin: 0 .5em;
  }
}

.clickable {
  cursor: pointer;
}

mat-checkbox {
  display: block;

  &.indent {
    margin-left: 0.3cm;
  }
}

.fancy.resume {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 33% auto;
  grid-template-areas:
    "sidebar content";
  gap: 0 0;
  margin: 0 auto auto auto;
  box-shadow: 3px 3px 5px black;
  font-family: var(--cv_font_body), serif;
  overflow: hidden;
}

.simple.resume {
  box-shadow: 3px 3px 5px black;
  font-family: var(--cv_font_body), serif;
  overflow: hidden;

  .simple.label {
    font-weight: bold;
    margin-right: 6px;
  }

  .info-block > .entry, .cdk-drag-preview {
    .title-row {
      .name {
        width: 290px;
      }
    }
  }

}



section.content {
  grid-area: content;
  padding: 5mm;
}

section.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cv_color_sidebar);
  box-shadow: 4px 0 3px rgba(0, 0, 0, 0.25);
  z-index: 100;
  overflow: hidden;

  .textBanner:first-of-type {
    margin-top: 0;
  }
}

section.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2mm;
  box-sizing: border-box;
  background-color: var(--cv_color_profile);
  position: relative;
  color: var(--cv_color_onProfile);

  .profile-photo{
    width: 100%;

    img {
      display: block;
      width: 200px;
      height: 200px;
      margin: auto;
      object-fit: cover;
      border-radius: 100%;
    }

    &::after {
      box-shadow: inset 3px 3px 5px 2px #000000;
      border: 4px solid;
      border-color: var(--cv_color_photoFrame);
      content: "";
      width: 195px;
      height: 195px;
      border-radius: 100%;
      position: absolute;
      top: 6px;
      left: 33px;
    }

  }

  .name {
    font-family: var(--cv_font_hero);
    font-size: 32pt;
    margin-top: 2mm;
  }

  .subline {
    font-family: var(--cv_font_body);
    opacity: 50%;
    font-size: 1.2em;
  }

  &.simple {
    padding-top: 0;
    background-color: unset;
    justify-content: center;
    color: var(--cv_color_text);

    &.banner:not(.cover) {
      background-color: var(--cv_color_profile);
      color: var(--cv_color_onProfile);
      margin: -5mm -5mm 0 -5mm;
      width: 8.5in;
      padding: 3mm 0 3mm 0;
    }

    &.cover {
      height: 3cm;
    }

    &.cover.banner {
      background-color: var(--cv_color_profile);
      color: var(--cv_color_onProfile);
    }

    .bannerDecor {
      position: absolute;
      left: -40px;
      top: -1px;
      height: calc(100% + 1px);
      opacity: 0.5;
    }

    >.name {
      margin-top: 0;
    }


  }
}

ul {
  font-size: 1em;
  font-weight: 0;
  color: var(--cv_color_text);
}

strong {
  color: var(--cv_color_strong);
}

.project-form-label {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 2mm;
}

.cv-contact-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 0 3mm;
  box-sizing: border-box;
  font-weight: 100;
  gap: 1mm;
  margin: 2mm 0;
  font-family: var(--cv_bodyFontCond);
  font-size: 1.2em;

  .cv-contact-item {
    display: flex;
    gap: 2mm;
    align-items: center;

    :nth-child(2) {
      flex-grow: 1;
    }

    i, mat-icon {
      font-style: normal;
      font-size: 1.4em;
      width: 25px;
    }
  }

  &.simple {
    flex-direction: row;
    justify-content: center;
    gap: 3mm;

    >.item {
      gap: 0;
    }
  }
}

section.info {
  width: 100%;

  .info-entry {
    margin-top: 1mm;
    margin-left: 2mm;
    display: flex;
    gap: 2mm;
    .label {
      width: 25mm;
    }
  }
}

.meta .label {
  font-weight: 500;
}

section.learning {
  width: 100%;
  padding-top: 0.5em;

  ul {
    padding: 0 0 0 3mm ;
    list-style: none;
    color: unset;

    li.new-skill, {
      font-size: 0.8em;
      font-weight: normal;
      margin-bottom: 1mm;

      &::before, &::after {
        font-family: var(--cv_font_header);
        color: var(--cv_color_text);
        opacity: 20%;
      }

      &.none {
        &::before { content: "› " }
      }

      &.triangles {
        &::before { content: "▷ " }
      }

      &.bullets {
        &::before { content: " • " }
      }

      &.js {
        &::before { content: "skills.push('" }
        &::after  { content: "');" }
      }

      &.cpp {
        &::before { content: "skills[" attr(data-index) "] = \"" }
        &::after  { content: "\";" }
      }

      &.numbers {
        &::before { content: attr(data-index) ") " }
      }
    }


  }
}

.textBanner {
  display: flex;
  align-items: center;
  font-family: var(--cv_font_header), sans-serif;
  background-color: var(--cv_shading_low);
  font-size: 1.25em;
  padding: 2mm;
  margin: 2mm 0;

  .mat-mdc-button {
    height: 24px;
    font-size: .75em;
  }

  &::before {
    content: '//';
    margin-right: 1mm;
    opacity: 30%;
  }
}

.skills {
  grid-area: skills;
  font-size: 1em;
  width: 100%;

  .skill-list {
    display: flex;
    flex-direction: column;
    gap: 1mm 0;
    margin: 2mm 0 0 2mm;

    &.simple {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-auto-flow: column;
      overflow: hidden;
      font-size: 12pt;
      gap: 2mm 3mm;
      margin: 2mm;

      .name {
        font-weight: 600;
        flex-grow: 1;
      }

      .bulleted {
        &::before { opacity: 0.33; }
        &.bullet-chevron::before  { content: "› " }
        &.bullet-triangle::before { content: "▷ " }
        &.bullet-dot::before      { content: "• " }
      }

      .skill {
        box-sizing: border-box;
      }

      .skillLevel {
        margin-left: 0.5mm;
        opacity: 0.5;
      }

    }
  }
}

.skill {
  display: flex;
  align-items: center;
  gap: 2mm;

  .name {
    flex-grow: 1;
    font-family: var(--cv_font_ui), sans-serif;
  }

  --bar-height: 5px;

  progress {
    -webkit-appearance: none;
    appearance: none;
    background-image: -webkit-linear-gradient(top, var(--progressBackground), var(--progressBackground2));
    border: 1px solid var(--progressBorderColor);
    border-radius: 10px;
    height: var(--bar-height);
  }

  progress[value]::-webkit-progress-bar {
    background-image: -webkit-linear-gradient(top, var(--progressBackground), var(--progressBackground2));
    background-size: 100% 100%, 100% 100%;
    border-radius: 10px;
    height: var(--bar-height);
  }

  progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, var(--progressLeft), var(--progressRight));
    background-size: 100% 100%, 100% 100%;
    box-shadow: 0 0 6px 1px var(--progressGlow);
    border-radius: 10px 0 0 10px;
    height: var(--bar-height);
  }

  progress[value]::-moz-progress-bar {
    background-image: -webkit-linear-gradient(left, var(--progressLeft), var(--progressRight));
    background-size: 100% 100%, 100% 100%;
    box-shadow: 0 0 6px 1px var(--progressGlow);
    border-radius: 10px 0 0 10px;
    height: var(--bar-height);
  }
}

.sidebar-group {
  width: 100%;

  +.sidebar-group {
    margin-top: 3mm;
  }
}

.cv-project {
  margin: 4mm 0 4mm 4mm;

  + .entry {
    margin-top: 6mm;
  }

  .cv-project-title-row {
    display: flex;
    border-bottom: 2px solid var(--cv_shading_high);
    align-items: baseline;
    gap: 4mm;
    margin-bottom: 2mm;

    :not(:first-child) {
      flex-grow: 1;
    }

    :last-child {
      text-align: end;
    }

    .cv-project-title {
      color: var(--cv_color_primary);
    }

    .cv-project-name {
      font-family: var(--cv_font_header), sans-serif;
      color: var(--cv_color_primary);
      font-size: 1.25em;
      width: 260px;
      flex-grow: 0;
    }
  }

  .item.stack > .line-item:not(:last-child)::after {
    content: ', ';
  }

  .cv-project-meta {
    font-family: var(--cv_font_ui), sans-serif;
    margin-top: 2mm;
    display: flex;
    align-items: center;
  }
}

.label {
  font-weight: 400;
  color: var(--cv_color_primary);
}



@media print {
  html, body {
    height:100%;
    overflow: hidden;
  }

  .noprint {
    display: none !important;
    visibility: hidden !important;
  }

  button, .controls, .noprint {
    display: none;
    visibility: hidden;
  }

  .printable {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.fa-item {
  display: flex;
  gap: 1em;
  align-items: baseline;

  .fa-row-label {
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 2mm;
    width: 200px;
  }
}

.fa-item:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.10);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  background: var(--cv_color_body);
  transition: none;
  border: 1px solid var(--cv_shading_high);
  box-shadow: 2mm 2mm 4mm black;
}

main[data-theme="bland"].resumePage-single {
  --cv_font_body: 'Red Hat Display', sans-serif;
  --cv_bodyFontCond: 'Red Hat Display', sans-serif;
  --cv_font_header: 'Questrial', sans-serif;
  --cv_font_ui: 'Red Hat Display', sans-serif;
  --cv_font_hero: 'Questrial', sans-serif;

  .content {
    font-weight: 500;
  }

  .label {
    font-weight: 600;
  }

  .subline {
    opacity: 100%;
  }

  .intro {
    margin: 1em 0;
  }

  .entry,  {
    margin: 0 0 0 .25in;

    +.entry {
      margin: 5mm 0 0 .25in;
    }

  }

  .title-row {
    font-size: 12pt;
    border: none;
    gap: 2mm;

    .name {
      font-size: 12pt;
      font-weight: 600;
      flex-grow: 0;
      width: auto;
    }

    .title, .gpa {
      flex-grow: 0;
    }

    :not(:first-child)::before {
      content: "|";
      margin-right: 2mm;
      color: var(--cv_shading_high);
    }
  }

  .textBanner{
    margin: 2mm 0;
    padding: 0;

    background: transparent;
    font-size: 16pt;

    &::before {
      content: unset;
    }
  }
}

.cv-project-content {

  ul {
    font-weight: normal;
  }
}


.cv-title-row {
  display: flex;
  width: 100%;
  gap: 6px;
  align-items: flex-end;

  .cv-entry-name {
    font-size: 18px;
    max-width: 50%;
    color: var(--cv_color_primary);
  }

  .cv-title-text {
    opacity: 0.75;
  }
}

.cv-education-entry {

}



a, a:visited {
  color: var(--cv_color_link);
  text-decoration-thickness: 1px;
  text-decoration-color: var(--cv_color_accent);
}

a:hover {
  color: var(--cv_color_link);
  text-decoration-thickness: 1px;
  text-decoration-color: var(--cv_color_accent);
}

.cv-object {
  margin: 0 4px;

  .cv-content{
    p:first-of-type {
      margin-top: 3px;
    }
  }

}
