.project-segment > header {
  &.personal {
    background: var(--personal-gradient);
  }

  &.professional {
    background: var(--professional-gradient);
  }

  &.openSource {
    background: var(--openSource-gradient);
  }

  &.educational {
    background: var(--educational-gradient);
  }

  .group {
    font-family: var(--uiFont), serif;
    opacity: 0.33;
    @media screen and (max-width: 640px) {
      display: none;
    }

  }
}

.projects-list {

}


.project-type-tag {
  background: #001b3f;
  padding: 6px;
  border-radius: 4px;
}
