
@font-face {
  font-family: 'SwedenSans';
  src: url('../assets/fonts/SwedenSansRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SwedenSans';
  src: url('../assets/fonts/SwedenSansSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SwedenSans';
  src: url('../assets/fonts/SwedenSansBold.woff2') format('woff2');
  font-weight: bold; /* Bold is equivalent to 700 */
  font-style: normal;
}

@font-face {
  font-family: 'uicons';
  src: url('../assets/fonts/uicons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bodyFont: "SwedenSans";
  --headerFont: "Afacad";
  --uiFont: "Finlandica";
  --sizeSmall: 1rem;
  --sizeNormal: 1.2rem;
  --sizeLarge: 1.4rem;
}

html, body {
  font-family: var(--bodyFont), serif;
  color: var(--textColor-normal);
  font-size: 22px;
  font-optical-sizing: auto;
  font-style: normal;
}

p, .text {
  font-family: var(--bodyFont), serif;
  color: var(--textColor-normal);
  line-height: 1.6;

  &.small { font-size: 0.8rem }
  &.large { font-size: 1.2rem }
}

mark {
  background-color: hsla(210, 30%, 35%, 0.5);
  color: hsl(0, 0%, 100%);
  padding: 0.5rem;
  border: 1px solid hsl(195, 40%, 60%);
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headerFont), sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 { font-size: 2.5rem }
h2 { font-size: 2rem }
h3 { font-size: 1.75rem }
h4 { font-size: 1.5rem }
h5 { font-size: 1.4rem }
h6 { font-size: 1.3rem }

p, .text, h1, h2, h3, h4, h5, h6 {
  &.thin { font-weight:300; }
  &.bold { font-weight: 700; }
  &.heavy { font-weight: 1000; }
}

.text-gradient {
  background: -webkit-linear-gradient(
      hsl(0, 0%, 100%),
      hsl(0, 0%, 66%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &.red {
    background: var(--red-to-pink-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.blue {
    background: var(--violet-to-blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.pink {
    background: var(--blue-to-pink-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.primary {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

a, a:visited, a:hover, a:active {
  color: var(--textColor-link);
  text-decoration-color: var(--primary);
}

span.label {
  font-family: var(--headerFont);
  color: var(--secondary)
}

.uicon:before, {
  font-family: "uicons";
  font-style: normal;
  font-weight: normal;
  speak: never;
  text-decoration: none !important;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.uicon.phone:before { content: '\e800'; } /* '' */
.uicon.email:before { content: '\e801'; } /* '' */
.uicon.location:before { content: '\e802'; } /* '' */
.uicon.link:before { content: '\e803'; } /* '' */
.uicon.home:before { content: '\e804'; } /* '' */
.uicon.right-open:before { content: '\e805'; } /* '' */
.uicon.left-open:before { content: '\e806'; } /* '' */
.uicon.up-open:before { content: '\e807'; } /* '' */
.uicon.down-open:before { content: '\e808'; } /* '' */
.uicon.menu-outline:before { content: '\e809'; } /* '' */

.uicon.quote:before { content: '\e80a'; } /* '' */
.uicon.clock:before { content: '\e80b'; } /* '' */
.uicon.calendar:before { content: '\e80c'; } /* '' */
.uicon.bsky:before { content: '\e80e'; } /* '' */
.uicon.pixelfed:before { content: '\e80f'; } /* '' */
.uicon.mastodon:before { content: '\e80d'; } /* '' */
.uicon.twitter:before { content: '\e815'; } /* '' */
.uicon.github:before { content: '\f09b'; } /* '' */
.uicon.linkedin:before { content: '\f0e1'; } /* '' */
.uicon.youtube:before { content: '\f16a'; } /* '' */
.uicon.instagram:before { content: '\f16d'; } /* '' */
.uicon.sliders:before { content: '\f1de'; } /* '' */
.uicon.twitch:before { content: '\f1e8'; } /* '' */

.uicon.linkedin-footer:before { content: '\e812'; } /* '' */
.uicon.github-footer:before { content: '\e810'; } /* '' */
.uicon.pixelfed-footer:before { content: '\e814'; } /* '' */
.uicon.mastodon-footer:before { content: '\e813'; } /* '' */
.uicon.instagram-footer:before { content: '\e811'; } /* '' */
