
@font-face {
  font-family: 'SwedenSans';
  src: url('../assets/fonts/SwedenSansRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SwedenSans';
  src: url('../assets/fonts/SwedenSansSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SwedenSans';
  src: url('../assets/fonts/SwedenSansBold.woff2') format('woff2');
  font-weight: bold; /* Bold is equivalent to 700 */
  font-style: normal;
}

@font-face {
  font-family: 'uicons';
  src: url('../assets/fonts/uicons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bodyFont: "SwedenSans";
  --headerFont: "Afacad";
  --uiFont: "Finlandica";
  --sizeSmall: 1rem;
  --sizeNormal: 1.2rem;
  --sizeLarge: 1.4rem;
}

html, body {
  font-family: var(--bodyFont), serif;
  color: var(--textColor-normal);
  font-size: 22px;
  font-optical-sizing: auto;
  font-style: normal;
}

p, .text {
  font-family: var(--bodyFont), serif;
  color: var(--textColor-normal);
  line-height: 1.6;

  &.small { font-size: 0.8rem }
  &.large { font-size: 1.2rem }
}

mark {
  background-color: hsla(210, 30%, 35%, 0.5);
  color: hsl(0, 0%, 100%);
  padding: 0.5rem;
  border: 1px solid hsl(195, 40%, 60%);
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headerFont), sans-serif;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 810px) {
  h1 { font-size: 2.0rem }
  h2 { font-size: 1.8rem }
  h3 { font-size: 1.7rem }
  h4 { font-size: 1.4rem }
  h5 { font-size: 1.3rem }
  h6 { font-size: 1.2rem }
  html, body { font-size: 18px }
}

h1 { font-size: 2.5rem }
h2 { font-size: 2rem }
h3 { font-size: 1.75rem }
h4 { font-size: 1.5rem }
h5 { font-size: 1.4rem }
h6 { font-size: 1.3rem }

p, .text, h1, h2, h3, h4, h5, h6 {
  &.thin { font-weight:300; }
  &.bold { font-weight: 700; }
  &.heavy { font-weight: 1000; }
}

h1 + p, h2 + p, h3 + p,
h4 + p, h5 + p, h6 + p {
  margin-top: 0;
  padding-top: 0;
}

.text-gradient {
  background: -webkit-linear-gradient(
      hsl(0, 0%, 100%),
      hsl(0, 0%, 66%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &.red {
    background: var(--red-to-pink-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.blue {
    background: var(--violet-to-blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.pink {
    background: var(--blue-to-pink-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.primary {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

a, a:visited, a:hover, a:active {
  color: var(--textColor-link);
  text-decoration-color: var(--primary);
}

span.label {
  font-family: var(--headerFont);
  color: var(--secondary)
}

.uicon:before, {
  font-family: "uicons";
  font-style: normal;
  font-weight: normal;
  text-decoration: none !important;

  display: inline-block;
  margin-left: 6px;
  text-align: center;
}


.icon-button {
  width: 1rem;
  height: 1rem;
  font-size: 1.5rem;
}

// Interface Icons
.uicon.right-arrow:before { content: '\e000'; } /* '' */
.uicon.left-arrow:before { content: '\e001'; } /* '' */
.uicon.up-arrow:before { content: '\e002'; } /* '' */
.uicon.down-arrow:before { content: '\e003'; } /* '' */
.uicon.sliders:before { content: '\e004'; } /* '' */
.uicon.menu:before { content: '\e005'; } /* '' */
.uicon.quote:before { content: '\e006'; } /* '' */
.uicon.clock:before { content: '\e007'; } /* '' */
.uicon.calendar:before { content: '\e008'; } /* '' */

// Contact Icons
.uicon.phone:before { content: '\e040'; } /* '' */
.uicon.email:before { content: '\e041'; } /* '' */
.uicon.location:before { content: '\e042'; } /* '' */
.uicon.link:before { content: '\e043'; } /* '' */
.uicon.home:before { content: '\e044'; } /* '' */

// Brand Icons
.uicon.mastodon:before { content: '\e080'; } /* '' */
.uicon.bsky:before { content: '\e081'; } /* '' */
.uicon.youtube:before { content: '\e082'; } /* '' */
.uicon.linkedin:before { content: '\e083'; } /* '' */
.uicon.github:before { content: '\e084'; } /* '' */
.uicon.instagram:before { content: '\e085'; } /* '' */
.uicon.twitch:before { content: '\e086'; } /* '' */
.uicon.pixelfed:before { content: '\e087'; } /* '' */

// Footer Icons
.uicon.linkedin-footer:before { content: '\e0c0'; } /* '' */
.uicon.github-footer:before { content: '\e0c1'; } /* '' */
.uicon.instagram-footer:before { content: '\e0c2'; } /* '' */
.uicon.linkedin-footer:before { content: '\e0c3'; } /* '' */
.uicon.mastodon-footer:before { content: '\e0c4'; } /* '' */
.uicon.pixelfed-footer:before { content: '\e0c5'; } /* '' */
.uicon.bskly-footer:before { content: '\e0c6'; } /* '' */
.uicon.twitch-footer:before { content: '\e0c7'; } /* '' */


.uicon.hidden {
  display: none !important;
}
