.skillCategoryLabel {
  padding-bottom: .25rem;
  font-size: 1.1rem;
  font-variant: all-petite-caps;
  opacity: .5;
}

.skillCategoryLabel:not(:first-of-type){
  padding-top: .75rem;
}

.skill-list {
  display: flex;
  gap: 0.5rem;

  .skill-tag {
    border-radius: 1rem;
    background-color: var(--tag);
    padding: 0.25rem .5rem;
  }
}
