
<div class="page">

  <div class="flex-row bottom-padded">
    <button mat-stroked-button uiGoBack>Back</button>
    <div class="fill"></div>
    @if (project?.showLink) {
      <a mat-stroked-button color="warn" [href]="project?.link" target="_blank">Visit</a>
    }
  </div>

  @if (project){
    <article class="segment project-segment">
      <header class="{{project.group}}">
        <h1 class="title pusher">{{project.name}}</h1>

        <div class="date">

          @if(project.isCurrent) {
            Current
          } @else {
            {{project.started | date: 'dd.MM.yy'}}
            @if (project.started && project.ended) {
              <span> to </span>
            }
            {{project.ended | date: 'dd.MM.yy'}}
          }

        </div>
      </header>

      <div class="content">
        <div [innerHTML]="project.longDescription" markdown></div>

        <h4>Skills & Technology</h4>
        <div class="tag-container cutout">
          @for (skill of project.skills; track skill) {
            <div class="skill tag" (click)="viewSkill(skill)">{{skill}}</div>
          }
        </div>
      </div>

    </article>

  } @else {
    <div class="segment">
      <h1>Whoops</h1>
      <p>There does not seem to be a project by this name or url</p>
    </div>
  }





</div>
