<mat-toolbar color="primary" class="noprint">
  <img class="banner-decor" src="assets/stripesAlt.svg" alt="A series of gradient stripes to make the header less boring">
  <img class="logo" routerLink="/cv/builder" src="assets/identMono.svg" alt="A series of gradient stripes to make the header less boring">
  <button mat-button routerLink="" class="noprint">News</button>
  <button mat-button routerLink="/projects" class="noprint">Projects</button>
  <button mat-button routerLink="/bio" class="noprint">Bio</button>
</mat-toolbar>
