<mat-toolbar class="noprint siteNav">
  <img class="banner-decor" src="assets/stripesAlt.svg" alt="A series of gradient stripes to make the header less boring">
  <img class="logo" routerLink="/cv" src="assets/identMono.svg" alt="A series of gradient stripes to make the header less boring">
  <button mat-button routerLink="" class="noprint nav-button">Home</button>
  <button mat-button routerLink="/blog" class="noprint nav-button">News</button>
  <button mat-button routerLink="/projects" class="noprint nav-button">Projects</button>
  <button mat-button routerLink="/bio" class="noprint nav-button">Bio</button>


  <div class="fill"></div>

  <button mat-icon-button [matMenuTriggerFor]="menu"
          class="noprint menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item routerLink="" >Home</button>
    <button mat-menu-item routerLink="/blog" >News</button>
    <button mat-menu-item routerLink="/projects" class="noprint">Projects</button>
    <button mat-menu-item routerLink="/bio" class="noprint">Bio</button>
  </mat-menu>


</mat-toolbar>
