.site-header {
  padding-right: 1rem;
}

.banner-decor {
  height: 100%;
  margin-left: -2.6rem;
  opacity: 0.75;
}

.logo {
  height: 80%;
  margin-left: -1rem;
  margin-right: 0.5rem;
  opacity: 0.4;
  filter: invert(1);
  transition: opacity 400ms;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
  transition: opacity 400ms;
}
