<div class="page-container flex-row">

  <router-outlet></router-outlet>

  <aside class="controls noprint">

    <form [formGroup]="configForm" >
      <div class="flex segment control-panel">
        <div class="title">Theming</div>
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
          <mat-label>Theme</mat-label>
          <select matNativeControl formControlName="theme">
            <option selected value="dark">Dark</option>
            <option selected value="discord">Discord</option>
            <option selected value="bland">Business Boy</option>
            <option selected value="winter">Frosty</option>
            <option selected value="terminal">Codebase</option>
          </select>
        </mat-form-field>
        <button mat-raised-button routerLink="modern">Curriculum Vitae</button>
        <button mat-raised-button routerLink="basic">Résumé</button>
        <button mat-raised-button routerLink="./">Cover Letter</button>
        <button mat-raised-button color="accent" *ngIf="CoverLetter">Edit Cover Letter</button>

      </div>

      <div class="flex segment control-panel" *ngIf="!CoverLetter">
        <div class="title">Options</div>
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
          <mat-label>List Style</mat-label>
          <select matNativeControl formControlName="skillDecor">
            <option selected value="none">Chevron</option>
            <option selected value="bullets">Bullet Point</option>
            <option selected value="triangles">Triangles</option>
            <ng-container *ngIf="!SimpleLayout">
              <option selected value="numbers">Numbers</option>
              <option selected value="js">JS/TS</option>
              <option selected value="cpp">C++</option>
            </ng-container>

          </select>
        </mat-form-field>

        <div class="checklist" *ngIf="SimpleLayout">
          <mat-checkbox color="primary" formControlName="showSkillsDetails">Skill Details</mat-checkbox>
        </div>

        <div class="checklist" *ngIf="!SimpleLayout">
          <mat-checkbox color="primary" formControlName="showLearning">Show Learning</mat-checkbox>
          <mat-checkbox color="primary" formControlName="showProgress">Use Skill Bars</mat-checkbox>
        </div>
      </div>

      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sections
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="checklist">

            <mat-checkbox color="primary" formControlName="showHeader">Header</mat-checkbox>

            @if (config.showHeader) {
              <mat-checkbox class="indent" color="primary" formControlName="showBanner">Banner</mat-checkbox>
            }

            <mat-checkbox color="primary" formControlName="showContacts">Contacts</mat-checkbox>


            @if (!CoverLetter) {
              <mat-checkbox color="primary" formControlName="showIntro">Intro</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showPhoto" *ngIf="!SimpleLayout">Photo</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showInfo" *ngIf="!SimpleLayout">Info</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showSkills">Skills</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showDetails">Skill Details</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showObjective">Objective</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showProjects">Projects</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showEducation">Education</mat-checkbox>
              @if (config.showEducation) {
                <mat-checkbox class="indent" color="primary" formControlName="showGPA">GPA</mat-checkbox>
              }
              <mat-checkbox color="primary" formControlName="showCerts">Certs</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showAwards">Awards</mat-checkbox>
            } @else {
              <mat-checkbox color="primary" formControlName="showSalutation">Salutation</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showValediction">Valediction</mat-checkbox>
            }


          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contacts
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="checklist">
            <mat-checkbox color="primary" formControlName="showEmail">Email</mat-checkbox>
            <mat-checkbox color="primary" formControlName="showPhone">Phone</mat-checkbox>
            <mat-checkbox class="indent" color="primary" *ngIf="showPhone" formControlName="showEvilPhone">Evil Phone</mat-checkbox>
            <mat-checkbox color="primary" formControlName="showURL">Website</mat-checkbox>
            <mat-checkbox color="primary" formControlName="showLinkedIn">LinkedIn</mat-checkbox>

            @if (!CoverLetter && !SimpleLayout) {
              <mat-checkbox color="primary" formControlName="showGithub">GitHub</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showMastodon">Mastodon</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showYoutube">YouTube</mat-checkbox>
              <mat-checkbox color="primary" formControlName="showTwitch">Twitch</mat-checkbox>
            }

          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Controls
            </mat-panel-title>
          </mat-expansion-panel-header>

          <button mat-stroked-button (click)="resetProjects()">Reset Projects</button>

        </mat-expansion-panel>
      </mat-accordion>

      <button mat-raised-button (click)="printPage()">Print</button>
    </form>


  </aside>
</div>

<!--<ngx-smart-modal #objectiveModal identifier="objectiveModal" [dismissable]="false" [closable]="false" (onClose)="saveObjective()">-->
<!--  <h2>Edit Objective (Local Only)</h2>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Current Objective</mat-label>-->
<!--    <textarea matInput [(ngModel)]="objectiveText"></textarea>-->
<!--  </mat-form-field>-->
<!--  <button mat-raised-button (click)="objectiveModal.close()">Save</button>-->
<!--</ngx-smart-modal>-->

<!--<ngx-smart-modal #coverLetterModal identifier="coverLetterModal" [dismissable]="false" [closable]="false" (onClose)="saveCoverLetter()">-->
<!--  <h2>Edit Cover Letter (Local Only)</h2>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Current Objective</mat-label>-->
<!--    <textarea matInput [(ngModel)]="coverLetterText"></textarea>-->
<!--  </mat-form-field>-->
<!--  <button mat-raised-button (click)="coverLetterModal.close()">Save</button>-->
<!--</ngx-smart-modal>-->

<!--<ngx-smart-modal #skillModal identifier="skillModal" [dismissable]="false" [closable]="false" (onClose)="saveSkills()">-->
<!--  <h2>Select Skills</h2>-->

<!--  <form [formGroup]="skillsForm">-->
<!--    <div class="form-array" formArrayName="skills">-->
<!--      <div class="fa-item" *ngFor="let skill of skills.controls; let i = index" [formGroupName]="i">-->
<!--        <mat-form-field appearance="fill">-->
<!--          <mat-label>Skill Name</mat-label>-->
<!--          <input matInput formControlName="name">-->
<!--        </mat-form-field>-->
<!--        <mat-form-field appearance="fill">-->
<!--          <mat-label>Skill Level</mat-label>-->
<!--          <input matInput type="number" formControlName="level">-->
<!--        </mat-form-field>-->
<!--        <mat-checkbox formControlName="highlight">Highlight</mat-checkbox>-->
<!--        <mat-checkbox formControlName="display">Display</mat-checkbox>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->

<!--  <button mat-raised-button (click)="skillModal.close()">Save</button>-->
<!--</ngx-smart-modal>-->

<!--<ngx-smart-modal #projectModal identifier="projectModal" [dismissable]="false" [closable]="false" (onClose)="saveProjects()">-->
<!--  <h2>Select Skills</h2>-->

<!--  <form [formGroup]="projectsForm">-->
<!--    <div class="form-array" formArrayName="projects">-->
<!--      <div class="fa-item" *ngFor="let projects of projects.controls; let i = index" [formGroupName]="i">-->
<!--        <div class="fa-row-label">{{projects.value.name}}</div>-->
<!--        <mat-checkbox formControlName="cvDisplay">Display</mat-checkbox>-->
<!--        <mat-checkbox formControlName="hasLink">Show URL</mat-checkbox>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--  <hr class="lighter">-->
<!--  <button mat-raised-button (click)="projectModal.close()" class="">Save</button>-->
<!--</ngx-smart-modal>-->
