$border-size: 2px;

.siteNav {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: $border-size solid transparent;
  box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.33);

  &:after {
    content: "";
    position: absolute;
    bottom: -$border-size; /* This should match the border thickness */
    left: 0;
    width: 100%;
    height: $border-size; /* This should match the border thickness */
    background: var(--full-horizontal-gradient);
  }
}


.menu-button {
  display: none;
}

@media only screen and (max-width: 420px) {
  .menu-button {
    display: inline;
  }

  .nav-button {
    display: none;
  }
}




.site-header {
  padding-right: 1rem;
}

.banner-decor {
  height: 100%;
  margin-left: -2.6rem;
  opacity: 1;
  filter: invert(10%);

  @media only screen and (max-width: 480px) {
    display: none;
  }
}



.logo {
  height: 80%;
  margin-left: -1rem;
  margin-right: 0.5rem;
  opacity: 0.4;
  filter: invert(1);
  transition: opacity 400ms;
  cursor: pointer;

  @media only screen and (max-width: 480px) {
    margin-left: 0;
  }
}

.logo:hover {
  opacity: 0.8;
  transition: opacity 400ms;
}
