<main class="resumePage printable" [attr.data-theme]="config.theme">


  <section class="sidebar">

    @if (config.showHeader) {
      <section class="profile">
        @if (config.showPhoto) {
          <div class="profile-photo">
            <img src="assets/profile/avatar_roundable.png" alt="">
          </div>
        }
        <div class="name">{{profile.name}}</div>
        <div class="subline">Software Engineer ({{profile.pronouns}})</div>
      </section>
    }

    @if (config.showInfo) {
      <div class="sidebar-group">
        <div class="textBanner">Info</div>
        <section class="info">
          <div class="info-entry">
            <div class="label">Citizenship:</div>
            <div class="data">U.S</div>
          </div>
          <div class="info-entry">
            <div class="label">Location:</div>
            <div class="data">{{profile.location}}</div>
          </div>
          <div class="info-entry">
            <div class="label">Languages:</div>
            <div class="data">English</div>
          </div>
        </section>
      </div>
    }

    @if (config.showContacts){
      <div class="sidebar-group">
        <div class="textBanner">Contacts</div>
        <section class="contacts">
          @if (config.showEmail){
            <div class="item">
              <mat-icon>email</mat-icon>
              <a href="mailto:{{profile.email}}">{{profile.email}}</a>
            </div>
          }
          @if (config.showPhone){
            <div class="item">
              <mat-icon>phone</mat-icon>
              <a href="tel:360-499-3845">{{ config.showEvilPhone ? '(360) 499-EVIL' : '(360) 499-3845' }}</a>
            </div>
          }
          @if (config.showURL){
            <div class="item">
              <mat-icon>website</mat-icon>
              <a href="https://corbin.dev">Corbin.dev</a>
            </div>
          }
          @if (config.showLinkedIn){
            <div class="item">
              <i class="fa-brands fa-linkedin"></i>
              <a href="https://www.linkedin.com/in/emryscorbin/">EmrysCorbin</a>
            </div>
          }
          @if (config.showGithub){
            <div class="item">
              <i class="fa-brands fa-github"></i>
              <a href="https://github.com/Panicintrinsica">Panicintrinsica</a>
            </div>
          }
          @if (config.showMastodon){
            <div class="item">
              <i class="fa-brands fa-mastodon"></i>
              <a href="https://mastodon.social/@emrysCorbin">&#64;emrysCorbin&#64;mastodon.social</a>
            </div>
          }
          @if (config.showTwitch){
            <div class="item">
              <i class="fa-brands fa-twitch"></i>
              <a href="https://www.twitch.tv/panicintrinsica/">Panicintrinsica</a>
            </div>
          }
        </section>
      </div>
    }

    @if (config.showSkills){
      <div class="sidebar-group">
        <div class="textBanner">Skills
          <div class="pusher"></div>
          <button mat-button color="primary">Edit</button>
        </div>

        <section class="skills">
          <div class="skill-list">
            @for (skill of skills; track skill) {
              <div class="skill">
                @if (config.showProgress) {
                  <progress max="100" [value]="skill.level"></progress>
                }
                <div class="name">{{skill.name}}</div>
                @if (!config.showProgress) {
                  <div class="skillLevel">
                    @if (skill.level < 20) {
                      <span>Basic</span>
                    }
                    @if (skill.level >= 20 && skill.level < 40) {
                      <span>Moderate</span>
                    }
                    @if (skill.level >= 40 && skill.level < 60) {
                      <span>Intermediate</span>
                    }
                    @if (skill.level >= 60 && skill.level < 80) {
                      <span>Advanced</span>
                    }
                    @if (skill.level >= 80 && skill.level < 100) {
                      <span>Expert</span>
                    }
                    @if (skill.level >= 100) {
                      <span>Master</span>
                    }
                  </div>
                }
              </div>
            }
          </div>
        </section>
      </div>
    }


    @if (config.showLearning){
      <div class="sidebar-group">
        <div class="textBanner">Learning</div>
        <section class="learning">
          <ul class="skill-list">
<!--            <li class="new-skill {{config.skillDecor}}" [attr.data-index]="i" *ngFor="let skill of newSkills; let i = index">{{skill}}</li>-->
          </ul>
        </section>
      </div>
    }

  </section>
  <section class="content">
    @if (config.showIntro){
      <markdown class="intro" [innerHTML]="profile.shortDescription"></markdown>
    }

    @if (config.showObjective){
      <div class="section-wrapper">
        <div class="subsection">
          <div class="textBanner">
            Objective
            <div class="pusher"></div>
            <button mat-button color="primary">Edit</button>
          </div>
          <div class="info-block">
            <div class="entry">
              <!--TODO: Fix Objective Block-->
            </div>
          </div>
        </div>
      </div>
    }

    @if (true){
      <cv-projects></cv-projects>
    }


    @if (config.showEducation){
      <div class="section-wrapper">

        <div class="subsection">
          <div class="textBanner">Education</div>

          @for (institute of education; track institute){
            <div class="info-block">
              <div class="entry">
                <div class="title-row">
                  <div class="name">{{ institute.name }}</div>
                  @if(config.showGPA){
                    <div class="gpa">GPA: {{ institute.gpa }} / {{ institute.gpaMax }}</div>
                  }
                  <div class="dates">Est. Grad: {{ institute.endMonth }}.{{ institute.endYear }}</div>
                </div>
                <div class="edu-fields">
                  <span class="text">Springfield, MO</span>
                  <span class="divider"> | </span>
                  <span class="text">{{ institute.degree | titlecase }}</span>
                  <span class="divider"> | </span>
                  <span class="text">{{ institute.major }}</span>
                </div>

                <!--            <div class="content" [innerHTML]="institute.details"></div>-->
              </div>
            </div>
          }


        </div>
      </div>
    }

<!--    <div class="subsection" *ngIf="showCerts">-->
<!--      <div class="textBanner">Certifications</div>-->
<!--    </div>-->

<!--    <div class="subsection" *ngIf="showAwards">-->
<!--      <div class="textBanner">Awards</div>-->
<!--    </div>-->

  </section>
</main>
