<div class="page">

  <section class="content article-list">
    @if (articles$ | async; as articles) {

      @for (article of articles.records; track article.id) {
        <ui-article [isStub]="true" [data]="article" [displayStyle]="ArticleDisplayStyle.Card"></ui-article>
      }
          }
  </section>

  <div class="pager">
    <div class="pager-item" (click)="lastPage()" [ngClass]="{'disabled': isFirstPage}">Back</div>
    <div class="pager-item" (click)="nextPage()" [ngClass]="{'disabled': isLastPage}">Next</div>
  </div>


<!--    <div class="pager">-->
<!--      <div class="pager-item" [ngClass]="{'disabled': currentPage == 1}" (click)="firstPage()"> << </div>-->
<!--      <div class="pager-item" [ngClass]="{'disabled': currentPage == 1}" (click)="prevPage('')"> < </div>-->

<!--      <div class="pager-item" *ngIf="currentPage > 2" (click)="pageSelect(currentPage - 2)"> {{ currentPage - 2 }} </div>-->
<!--      <div class="pager-item" *ngIf="currentPage > 1" (click)="pageSelect(currentPage - 1)"> {{ currentPage - 1 }} </div>-->

<!--      <div class="pager-item active"> {{ currentPage }} </div>-->

<!--      <div class="pager-item" *ngIf="currentPage < pages" (click)="pageSelect(currentPage + 1 )"> {{ currentPage + 1 }} </div>-->
<!--      <div class="pager-item" *ngIf="(currentPage + 2) < pages" (click)="pageSelect(currentPage + 2 )"> {{ currentPage + 2 }} </div>-->

<!--      <div class="pager-item" [ngClass]="{'disabled': currentPage == pages}" (click)="nextPage()"> > </div>-->
<!--      <div class="pager-item" [ngClass]="{'disabled': currentPage == pages}" (click)="lastPage()"> >> </div>-->
<!--    </div>-->

</div>
