<app-home-keyart />

<app-home-feature
  header="Front-End Development"
  color="red"
  image="https://placekitten.com/g/320/180"
  [isAlternate]="false"
>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam architecto aspernatur consequuntur corporis cum, distinctio dolorem eligendi error ipsa ipsam nemo nisi perferendis quis rerum ullam unde voluptatibus voluptatum.
</app-home-feature>

@defer (on immediate)  {
  <app-home-feature
    header="Back-End Development"
    content=""
    color="blue"
    image="https://placekitten.com/g/320/180"
    [isAlternate]="true">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate incidunt minus molestiae odit officiis omnis provident quo reiciendis rerum. A alias assumenda, commodi natus nulla rem repudiandae sapiente veritatis voluptatem.
  </app-home-feature>

} @placeholder {
  <ui-spinner />
}

@defer (on immediate) {
  <app-home-feature
    header="Everything Development"
    content=""
    color="pink"
    image="https://placekitten.com/g/320/180"
    [isAlternate]="false"
  >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa enim, id ipsam magnam neque numquam quas repellendus sint soluta voluptatibus? Doloribus nulla, numquam obcaecati quisquam quos reiciendis repudiandae sint sit.
  </app-home-feature>
} @placeholder {
  <div class="placeholder"></div>
}




