<app-home-keyart />

<app-home-feature
  header="Front-End Development"
  color="red"
  image=""
  [isAlternate]="false"
  [stack]="frontendFeatures"
>
  @if (content$ | async; as content) {
    {{ getContentBody(content, 'landingOne') }}
  }
</app-home-feature>

@defer (on immediate)  {
  <app-home-feature
    header="Back-End Development"
    content=""
    color="blue"
    image=""
    [isAlternate]="true"
    [stack]="backendFeatures"
  >
    @if (content$ | async; as content) {
      {{ getContentBody(content, 'landingTwo') }}
    }
  </app-home-feature>

} @placeholder {
  <ui-spinner />
}
@defer (on immediate) {
  <app-home-feature
    header="Everything Development"
    content=""
    color="pink"
    image=""
    [isAlternate]="false"
    [stack]="otherFeatures"
  >
    @if (content$ | async; as content) {
      {{ getContentBody(content, 'landingThree') }}
    }
  </app-home-feature>
} @placeholder {
  <div class="placeholder"></div>
}
