<app-home-keyart />

<app-home-feature
  header="Front-End Development"
  color="red"
  image="https://placekitten.com/g/320/180"
  [isAlternate]="false"
  [stack]="frontendFeatures"
>
  With over five years of experience with Angular and other frameworks including WinForms and .Net. If you need client or employee facing applications, I've got you covered.
</app-home-feature>


@defer (on immediate)  {
  <app-home-feature
    header="Back-End Development"
    content=""
    color="blue"
    image="https://placekitten.com/g/320/180"
    [isAlternate]="true"
    [stack]="backendFeatures"
  >
    Rare is the application that doesn't need to rely on external data, and if you require a new RESTful system, have complex business logic that needs to processed, or need to interface with third-party APIs, I have the skills to get the job done security and efficiently.
  </app-home-feature>

} @placeholder {
  <ui-spinner />
}


@defer (on immediate) {
  <app-home-feature
    header="Everything Development"
    content=""
    color="pink"
    image="https://placekitten.com/g/320/180"
    [isAlternate]="false"
    [stack]="otherFeatures"
  >
    I can write more than simple CRUD applications, and if your project relies on need a more nuanced approach, I can write anything from modular video game logic to highly specialized tools. And if I <i>don't</i> know how to do it, then I can absolutely find out how.
  </app-home-feature>
} @placeholder {
  <div class="placeholder"></div>
}




