<div class="page">

  <main class="flex column gap-small">

    @if (details$ | async; as details) {

      <article class="biography">
        <header class="biography-header">
          <div class="primary gradient-text bio-name">
            {{ getDetail(details, "firstName", "content") }}
            {{ getDetail(details, "lastName", "content") }}
          </div>
          <div class="bio-pronouns">
              ({{getDetail(details, "pronouns", "content")}})
          </div>
        </header>

        <section class="biography-body">
          @if (content$ | async; as content) {
            <markdown [data]="getContentBody(content, 'bioMain')" markdown></markdown>
          }
        </section>

      </article>




    }

    <ui-skill-list></ui-skill-list>

<!--    @if (education$ | async; as education) {-->
<!--      <div class="segment">-->
<!--        <header>-->
<!--          <h2 class="title">Education</h2>-->
<!--        </header>-->
<!--        <div class="content">-->

<!--          @for(institute of education; track institute) {-->
<!--            <div class="education-entry">-->
<!--              <div class="title-line">-->
<!--                <div class="name">{{ institute.name }}</div>-->
<!--                <div class="gpa">GPA: {{ institute.gpa }}/{{ institute.gpaMax }}</div>-->
<!--                <div class="pusher"></div>-->
<!--                <div class="dates">{{ institute.isCurrent ? 'Est. Grad: ' : institute.startMonth + '.' + institute.startYear + ' - ' }}{{ institute.endMonth + '.' + institute.endYear }}</div>-->
<!--              </div>-->
<!--              <div class="content">-->
<!--                {{institute.degree | titlecase}}, {{institute.major}}-->
<!--              </div>-->
<!--            </div>-->
<!--          }-->


<!--        </div>-->
<!--      </div>-->
<!--    }-->

  </main>
</div>
