.cover-letter {
  font-size: 18px;
  margin: 10mm;

  .salutation {
    margin-bottom: 5mm;
  }

  .body {
    margin-top: 5mm;
    line-height: 1.5em;
  }

  .valediction {
    margin-top: 5mm;
    line-height: 1.5em;
  }

  .signature {
    margin-top: 5mm;
    font-size: 2em;
    font-family: 'Parisienne', cursive;
  }
}
