<article class="project card">

  <header class="project-header {{project.group}}">
    <ui-tag [type]="project.category" [text]="project.category"></ui-tag>
    <div class="title text-gradient">{{ project.name }}</div>
    <div class="group">{{ project.group | titlecase }}</div>
  </header>

  <div class="project-card-grid">
    <div class="image">
      @if (project.thumbnail){
        <img [ngSrc]="project.thumbnail.url"
             class="project-thumbnail"
             width="320"
             height="180"
             priority
             decoding="async"
             alt="Logo or photo of the project">
      }
    </div>

    <div class="content" [innerHTML]="project.shortDescription"></div>

    <div class="action-line">
      @if (project.showLink) {
        <a mat-raised-button target="_blank" href="{{project.link}}">Visit</a>
      }
      @if (project.hasNotes) {
        <button mat-raised-button color="primary" routerLink="/project/{{project.slug}}">Details</button>
      }
    </div>
  </div>

</article>
