

<main class="resumePage-single printable" [attr.data-theme]="config.theme">

  @if (details$ | async; as details){
    @if (config.showHeader) {
      <section class="profile simple cover" [ngClass]="{ 'banner': config.showBanner }">
        @if (config.showBanner){
          <img class="bannerDecor" src="assets/stripesAlt.svg">
        }
        <div class="name">
          {{ getDetail(details, "firstName", "content")  }}
          {{ getDetail(details, "lastName", "content")  }}
        </div>
        <div class="subline">
          {{ getDetail(details, "title", "content")  }}
          ({{ getDetail(details, "pronouns", "content")  }})
        </div>
      </section>
    }

    @if (config.showContacts) {
      <section class="contacts simple">
        @if (config.showEmail){
          <div class="item">
            <div class="simple label">Email:</div>
            <a href="{{getDetail(details, 'email', 'link')}}">{{getDetail(details, 'email', 'content')}}</a>
          </div>
        }
        @if (config.showPhone){
          <div class="item">
            <div class="simple label">Phone:</div>
            <a href="{{getDetail(details, 'phone', 'link')}}">
              {{ config.showEvilPhone ? getDetail(details, 'phone', 'content') : getDetail(details, 'evilPhone', 'content') }}
            </a>
          </div>
        }
        @if (config.showURL){
          <div class="item">
            <div class="simple label">Website:</div>
            <a href="{{getDetail(details, 'website', 'link')}}">{{getDetail(details, 'website', 'content')}}</a>
          </div>
        }
        @if (config.showLinkedIn){
          <div class="item">
            <div class="simple label">LinkedIn:</div>
            <a href="{{getDetail(details, 'LinkedIn', 'link')}}">{{getDetail(details, 'LinkedIn', 'content')}}</a>
          </div>
        }
      </section>
    }

    <div class="cover-letter">

      @if (config.showSalutation){
        <section class="salutation">
          Greetings!
        </section>
      }

      <markdown class="body" [data]="coverLetterText"></markdown>

      @if (config.showSalutation){
        <section class="valediction">
          Sincerely,
          <div class="signature">
            Emrys M.V. Corbin
          </div>
        </section>
      }
    </div>

  }

</main>
