<main class="resumePage-single printable" [attr.data-theme]="config.theme">


  @if (config.showHeader) {
    <section class="profile simple cover" [ngClass]="{ 'banner': config.showBanner }">
      @if (config.showBanner){
        <img class="bannerDecor" src="assets/stripesAlt.svg">
      }
      <div class="name">{{ profile.name }}</div>
      <div class="subline">Software Engineer ({{ profile.pronouns }})</div>
    </section>
  }

  @if (config.showContacts) {
    <section class="contacts simple">
      @if (config.showEmail){
        <div class="item">
          <div class="simple label">Email:</div>
          <a href="mailto:{{profile.email}}">{{ profile.email }}</a>
        </div>
      }
      @if (config.showPhone){
        <div class="item">
          <div class="simple label">Phone:</div>
          <a href="tel:360-499-3845">{{ config.showEvilPhone ? '(360) 499-EVIL' : '(360) 499-3845' }}</a>
        </div>
      }
      @if (config.showURL){
        <div class="item">
          <div class="simple label">Website:</div>
          <a href="https://corbin.dev">https://corbin.dev</a>
        </div>
      }
      @if (config.showLinkedIn){
        <div class="item">
          <div class="simple label">LinkedIn:</div>
          <a href="https://www.linkedin.com/in/emryscorbin/">EmrysCorbin</a>
        </div>
      }
    </section>
  }



  <div class="cover-letter">

    @if (config.showSalutation){
      <section class="salutation">
        Greetings!
      </section>
    }

    <section class="body" markdown [innerHTML]="coverLetterText | coverletter">

    </section>

    @if (config.showSalutation){
      <section class="valediction">
        Sincerely,
        <div class="signature">
          Emrys M.V. Corbin
        </div>
      </section>
    }
  </div>
</main>
