.login-segment {
  width: 400px;
  margin: auto;
  box-sizing: border-box;

  .body {
    padding: 6px;
    box-sizing: border-box;
    input {
      width: 100%;
    }
  }

  .actions {
    padding: 6px;

  }
}

