<div class="page">

  <div class="flex column gap-small">
    <div class="segment login-segment">
      <header>
        <h3 class="title">Login</h3>
      </header>
      <div class="flex column body">
        <input type="text" placeholder="Username" [(ngModel)]="username">
        <input type="password" placeholder="Password" [(ngModel)]="password">
      </div>
      <div class="flex row actions">
        <button mat-stroked-button color="accent" class="fill" (click)="login()">Login</button>
      </div>
    </div>

  </div>

</div>
