  <main class="resumePage-single printable" [attr.data-theme]="config.theme">

    @if (details$ | async; as details) {
      <section class="content">

        @if (config.showHeader) {
          <section class="profile simple" [ngClass]="{ 'banner': config.showBanner }">

            @if (config.showBannerDecor) {
              <img class="bannerDecor" src="assets/stripesAlt.svg" alt="">
            }

            <div class="name">{{getDetail(details, "firstName", "content")}} {{getDetail(details, "lastName", "content")}}</div>
            <div class="subline">Software Engineer ({{getDetail(details, "pronouns", "content")}})</div>
          </section>
        }

        @if (config.showContacts) {
          <section class="contacts simple">
            @if (config.showEmail) {
              <div class="item">
                <div class="simple label" >Email: </div>
                <a href="{{getDetail(details, 'email', 'link') }}">{{ getDetail(details, 'email', 'content') }}</a>
              </div>
            }

            @if (config.showPhone) {
              <div class="item">
                <div class="simple label" >Phone: </div>
                <a href="{{ getDetail(details, 'phone', 'link') }}">{{ config.showEvilPhone ? '(360) 499-EVIL' : getDetail(details, 'phone', 'content') }}</a>
              </div>
            }

            @if (config.showURL) {
              <div class="item">
                <div class="simple label" >Website: </div>
                <a href="{{ getDetail(details, 'website', 'link') }}">{{ getDetail(details, 'website', 'content') }}</a>
              </div>
            }

            @if (config.showLinkedIn) {
              <div class="item">
                <div class="simple label" >LinkedIn: </div>
                <a href="{{ getDetail(details, 'LinkedIn', 'link') }}">{{ getDetail(details, 'LinkedIn', 'content') }}</a>
              </div>
            }
          </section>
        }

        @if (content$ | async; as content) {
          @if (config.showIntro){
            <section class="intro simple">
              <markdown class="intro" [innerHTML]="getContentBody(content, 'cvIntro')"></markdown>
            </section>
          }
        }

        @if (config.showSkills){
          <section class="skills">
            <div class="textBanner">
              Relevant Skills
              <div class="pusher"></div>
              <button mat-button color="primary">Edit</button>
            </div>
            <div class="skill-list simple">
              @for (skill of skills.slice(0,15); track skill.id) {
                <div class="skill">
                  <div class="name fill">{{skill.name}}</div>
                  <div class="skillLevel">
                    {{skill.level | levelToName }}
                  </div>
                </div>
              }
            </div>
          </section>
        }

        @if (config.showObjective){
          <div class="section-wrapper">
            <div class="subsection">
              <div class="textBanner">
                Objective
                <div class="pusher"></div>
                <button mat-button color="primary">Edit</button>
              </div>
              <div class="info-block">
                <div class="entry">
                  <!--TODO: Fix Objective Block-->
                </div>
              </div>
            </div>
          </div>
        }

        @if (true){
          <cv-projects></cv-projects>
        }

        @if (config.showEducation){
          <div class="section-wrapper">

            <div class="subsection">
              <div class="textBanner">Education</div>

              @for (institute of education; track institute){
                <div class="info-block">
                  <div class="entry">
                    <div class="title-row">
                      <div class="name">{{ institute.name }}</div>
                      @if(config.showGPA){
                        <div class="gpa">GPA: {{ institute.gpa }} / {{ institute.gpaMax }}</div>
                      }
                      <div class="dates">{{ institute.start | date : 'MMM yy'  }} - {{ institute.end | date : 'MMM yy'  }}</div>
                    </div>
                    <div class="edu-fields">
                      <span class="text">Springfield, MO</span>
                      <span class="divider"> | </span>
                      <span class="text">{{ institute.degree | titlecase }}</span>
                      <span class="divider"> | </span>
                      <span class="text">{{ institute.major | titlecase }}</span>
                    </div>

                    <!--                            <div class="content" [innerHTML]="institute.notes"></div>-->
                  </div>
                </div>
              }

            </div>
          </div>
        }

        @if (config.showCerts){

        }

        @if (config.showAwards){

        }



      </section>
    }
  </main>
