<article class="segment">
  <header>
    <h1 class="title pusher">{{data.title}}</h1>
    <div class="category {{data.category | lowercase }}">{{data.category | lowercase }}</div>
  </header>

  <div class="content" markdown [innerHTML]="isStub ? data.shortContent : data.fullContent"></div>

  <footer [ngClass]="isStub ? 'stub' : 'full' ">
    @if (isStub) {
      <span class="time fill">{{ data.updatedAt | date : 'shortDate' }}</span>
      <button mat-button routerLink="/article/{{data.slug}}">Read More</button>
    } @else {
      <div class="tag-container fill">
        <span class="label">Tags: </span>
        @for (tag of data.tags; track tag){
          <div class="article tag" >{{tag}}</div>
        }

      </div>

      <div class="timestamp">

        @if (data.createdAt === data.updatedAt) {
          <span class="label">Posted: </span>
          <span class="time">{{ data.createdAt | date : 'short'  }}</span>
        } @else {
          <span class="label">Posted: </span>
          <span class="time">{{ data.updatedAt | date : 'short'  }}</span>
        }

      </div>
      <address>
        <span class="label">Author: </span>
        <a rel="author" routerLink="/bio" class="author">{{data.author}}</a>
      </address>
    }
  </footer>
</article>
