<div class="page">

  <div class="project-toolbar">
   <div class="flex row">
        <div class="label">Category: </div>
        <mat-chip-listbox multiple>
          @for (option of categoryOptions; track option){
            <mat-chip-option
              id="{{option}}"
              (selectionChange)="selectCategories(option)"
            >{{option | titlecase}}
            </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>

    <div class="flex row">
      <div class="label">Client: </div>
      <mat-chip-listbox multiple>
        @for (option of groupOptions; track option){
          <mat-chip-option
            id="{{option}}"
            (selectionChange)="selectGroups(option)"
          >{{option | titlecase}}
          </mat-chip-option>
        }
      </mat-chip-listbox>
    </div>





  </div>

  <div class="project-list" *ngIf="project$ | async as projects">

    @for (project of filteredProjects; track project.name) {
      <ui-project-card [project]="project"></ui-project-card>
    } @empty {
      No Matches
    }

  </div>

</div>
