header.professional { background: var(--professional-gradient) }
header.personal { background: var(--personal-gradient) }
header.open { background: var(--openSource-gradient) }

h4 { margin-bottom: 0.5rem }

.project-toolbar {
  background: var(--body-lowlight);
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  font-family: var(--uiFont);
  flex-direction: column;

  .row {
    align-items: center;
  }

  .label {
    opacity: 0.5;
    padding-right: 8px;
  }
}
