footer {
  margin-top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 600ms;
  opacity: 1;

  &.hidden {
    transition: opacity 0ms;
    opacity: 0;
  }

}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.social-links > .uicon {
  font-size: 3rem;
  opacity: 0.5;
  transition: opacity 500ms;

  &:hover {
    opacity: 1;
  }
}

.copyright {
  text-align: center;
  color: hsla(0, 0%, 100%);
  font-size: .8rem;
  padding: .2rem 0;
  opacity: 0.3;
}

.video-credit {
  text-align: center;
  font-size: .75rem;
  padding: .2rem 0;
  opacity: 0.3;
}
