
<footer [ngClass]="{'hidden': loading}" class="noprint">
  <div class="social-links">
    <a class="uicon bskly-footer" href="https://bsky.app/profile/emryscorbin.bsky.social" target="_blank"></a>
    <a class="uicon instagram-footer" href="https://www.instagram.com/emrys.corbin/" target="_blank"></a>
    <a class="uicon github-footer" href="https://github.com/Panicintrinsica" target="_blank"></a>
    <a class="uicon linkedin-footer" href="https://www.linkedin.com/in/emryscorbin/" target="_blank"></a>

    <a class="uicon pixelfed-footer hidden" href="https://pixelfed.social/@emrysCorbin" target="_blank"></a>
    <a class="uicon mastodon-footer hidden" rel="me" href="https://mastodon.social/@emrysCorbin" target="_blank"></a>
  </div>
  <div class="copyright">
    Copyright © Emrys Corbin {{ year }}
  </div>

  @if(isHomePage){
    <div class="video-credit">
      Keyart Video by <a href="https://pixabay.com/users/project-unknown-22383616/?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=123737">Mohamad Rafizan</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=123737">Pixabay</a>
    </div>
  }
</footer>


