<div class="feature-segment">
  <div class="feature-title" [ngClass]="{'alt': isAlternate}">
    <h1 [class]="color" class="heavy text-gradient">{{ header }}</h1>
  </div>

  <div class="grid-container" [ngClass]="{'alt': isAlternate}">


    <div class="text content" [ngClass]="{'alt': isAlternate}">
      <ng-content></ng-content>

      @if (route) {
        <div class="featured-button {{color}}" [routerLink]="route">
          More
        </div>
      }
    </div>

    @if (image) {
      <div class="image">
        <img [ngSrc]="image" alt="" fill priority>
      </div>
    }

    <div class="stack">
      @for (item of stack; track item) {
        <a [href]="item.link" target="_blank">
          <img class="skillLogo" ngSrc="../assets/brands/{{item.img}}.svg" height="48" width="48" alt="{{item.alt}}">
        </a>
      }
    </div>




  </div>


</div>

